<!doctype html>
<html ng-app="app">
<head>
	<title>Syntax Parser</title>

	<!-- <script src="libs/jquery/jquery&#45;1.9.1.js"></script> -->
	<script src="libs/jquery/jquery-1.9.1.min.js"></script>
	<script src="libs/jquery/jquery-ui-1.10.2.custom.js"></script>
	<!-- <script src="libs/bootstrap/js/bootstrap.js"></script> -->
	<script src="libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="libs/angular/angular.js"></script>
	<!-- <script src="libs/angular/angular&#45;resource.js"></script> -->
	<script src="libs/angular/angular-resource.min.js"></script>
	<!-- <script src="libs/angular/angular&#45;bootstrap.js"></script> -->
	<script src="libs/angular/angular-bootstrap.min.js"></script>
	<!-- <script src="libs/angular/angular&#45;sanitize.js"></script> -->
	<!-- <script src="libs/angular&#45;ui/angular&#45;ui.js"></script> -->
	<script src="libs/angular-ui/angular-ui.min.js"></script>
	<!-- <script src="libs/angular&#45;dragdrop/angular&#45;dragdrop.js"></script> -->
	<!-- <script src="libs/angular&#45;ui/bootstrap/ui&#45;bootstrap&#45;tpls&#45;0.2.0.js"></script> -->
	<script src="libs/angular-ui/bootstrap/ui-bootstrap-tpls-0.2.0.min.js"></script>
	<!-- <script src="libs/angular&#45;ui/bootstrap/ui&#45;bootstrap&#45;0.2.0.js"></script> -->
	<!-- <script src="libs/ng&#45;grid/ng&#45;grid&#45;2.0.4.debug.js"></script> -->
	<script src="libs/jit/jit-yc.js"></script>
	<script src="libs/spin/spin.min.js"></script>

	<script src="libs/download.js"></script>

	<!-- <script src="https://maps.google.com/maps/api/js?sensor=false&#38;language=lv"></script> -->

	<link rel="stylesheet" href="libs/normalize/normalize.css">
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="libs/angular-ui/angular-ui.css">
	<link rel="stylesheet" href="libs/jquery/css/smoothness/jquery-ui-1.10.1.custom.css">
	<!-- <link rel="stylesheet" href="libs/ng&#45;grid/ng&#45;grid.css"> -->

	<script src="app.js"></script>

	<link rel="stylesheet" href="app.css">

</head>
<body ng-controller="AppController">

	<div id="main" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
		<tabs>
			<pane heading="Multi">
				<div style="position: absolute; top: 54px; left: 0px; bottom: 0px; right: 0px;" ng-controller="MultiController">
					<div style="left: 0px; top: 0px; width: 250px;  bottom: 0px; position: absolute; overflow-y: scroll;"
						class="no-sel dropbox" ng-class="dropClass" id="dropbox">
						<div ng-repeat="tree in trees" class="list-item shorten" ng-class="{selected: tree===selected}" style=""
							ng-click="select(tree)">
							{{$index}} : {{tree.text}}
						</div>
					</div>
					<div style="position: absolute; top: 0px; left: 250px; bottom: 0px; right: 0px; padding-left: 10px; margin-left: 10px; border-left: 1px solid #ddd; overflow-y: scroll;">
						<button class="btn btn-primary" ng-click="downloadCoNLL()" ng-disabled="trees.length === 0">Download .CoNLL</button>
						&nbsp;&nbsp;
						<button class="btn btn-primary" ng-click="parse()" ng-disabled="!selected || state.inProgress">Parse</button>
						<spin ng-model="state.inProgress" options="{speed: 1.5}"
							style="display: inline-block; width: 50px; top: 8px; height: 22px"></spin>
						<br/>
						<br/>
						<table class="conll-table" style="margin: 10px; position: relative;">
							<tr>
								<th>Index</th>
								<th>Word</th>
								<th>Lemma</th>
								<th>Coarse Tag</th>
								<th>Full Tag</th>
								<th>Features</th>
								<th>Parent</th>
							<tr>
							<tr ng-repeat="row in selected.data">
								<!-- <td ng&#45;bind="row.index" editable="inputCoNLL.editable" class="integer"></td> -->
								<td ng-bind="row.index" class="integer"></td>
								<td ng-bind="row.word" editable="true"></td>
								<td ng-bind="row.lemma" editable="true"></td>
								<td ng-bind="row.tag0" editable="true"></td>
								<td ng-bind="row.tag" editable="true"></td>
								<td ng-bind="row.features" editable="true"></td>
								<td ng-bind="row.parentIndex" editable="true" class="integer"></td>
							</tr>
						</table>
					</div>
				</div>
			</pane>
			<pane heading="Single">

			<div ng-controller="SingleController">

		<!-- <div style="border: 2px dashed black; width: 100px; height: 50px;" dropzone="drop"> -->
		<!-- 	{{test}} -->
		<!-- </div> -->
		Input Sentence:
		<br/>
		<textarea cols="60" rows="10" style="width: 600px; height: 100px;" ng-model="sentence"></textarea>
		<br/>
		<button class="btn btn-primary" ng-click="getCoNLL()" ng-disabled="state.inProgress">1. CoNLL</button>
		<button class="btn btn-primary" ng-click="parse()" ng-disabled="state.inProgress">2. Parse</button>
		<spin ng-model="state.inProgress" options="{speed: 1.5}"
			style="display: inline-block; width: 50px; top: 8px; height: 22px"></spin>
		<br/>
		<br/>
		<tabs>
			<!-- <pane heading="Raw Input CoNLL" active="selectedTab.rawInput"> -->
			<!-- 	<button class="btn btn&#45;primary" ng&#45;click="acceptInputRaw()">Accept</button> -->
			<!-- 	<br/> -->
			<!-- 	<br/> -->
			<!-- 	<textarea cols="60" rows="10" style="width: 98%; height: 200px;" ng&#45;model="inputCoNLL.raw"></textarea> -->
			<!-- </pane> -->
			<pane heading="Input CoNLL" active="selectedTab.input">
				<div style="position: relative;">
					<div style="display: inline-block; width: 60%; position: relative; 0px; vertical-align: top;">
						<br/>
						<div style="position: absolute; right: 0px; top: 0px;">
							<button class="btn" ng-class="{'btn-primary': !state.pasteFocus}" ng-click="showPaste()">Paste from Clipboard &gt;&gt;</button>
						</div>
						<br/>
						<table class="conll-table" style="margin: 10px; position: relative;">
							<tr>
								<th>Index</th>
								<th>Word</th>
								<th>Lemma</th>
								<th>Coarse Tag</th>
								<th>Full Tag</th>
								<th>Features</th>
								<th>Parent</th>
							<tr>
							<tr ng-repeat="row in inputCoNLL.data">
								<!-- <td ng&#45;bind="row.index" editable="inputCoNLL.editable" class="integer"></td> -->
								<td ng-bind="row.index" class="integer"></td>
								<td ng-bind="row.word" editable="inputCoNLL.editable"></td>
								<td ng-bind="row.lemma" editable="inputCoNLL.editable"></td>
								<td ng-bind="row.tag0" editable="inputCoNLL.editable"></td>
								<td ng-bind="row.tag" editable="inputCoNLL.editable"></td>
								<td ng-bind="row.features" editable="inputCoNLL.editable"></td>
								<td ng-bind="row.parentIndex" editable="inputCoNLL.editable" class="integer"></td>
							</tr>
						</table>
					</div>
					<div style="display: inline-block; position: relative; width: 38%; margin: 0px;">
						<textarea focus="state.pasteFocus" ng-show="state.pasteVisible"
							style="position: relative; width: 98%; height: 200px; resize: vertical;"
							select-on-focus ng-model="inputCoNLL.raw" ng-blur="hidePaste()"></textarea>
					</div>
				</div>
			</pane>
			<pane heading="Output CoNLL" active="selectedTab.output">
				<div style="position: relative;">
					<div style="display: inline-block; width: 60%; position: relative; 0px; vertical-align: top;">
						<br/>
						<div style="position: absolute; right: 0px; top: 0px;">
							<button class="btn btn-primary" ng-click="downloadOutput()" ng-disabled="outputDisabled()">Download .CoNLL</button>
							&nbsp;&nbsp;
							<button class="btn" ng-class="{'btn-primary': !state.copyFocus}"
								ng-click="showCopy()" ng-disabled="outputDisabled()">Copy to Clipboard &gt;&gt;</button>
						</div>
						<br/>
						<table class="conll-table" style="margin: 10px; position: relative;">
							<tr>
								<th>Index</th>
								<th>Word</th>
								<th>Lemma</th>
								<th>Coarse Tag</th>
								<th>Full Tag</th>
								<th>Features</th>
								<th>Parent</th>
							<tr>
							<tr ng-repeat="row in outputCoNLL.data">
								<td ng-bind="row.index" class="integer"></td>
								<td ng-bind="row.word" editable="outputCoNLL.editable"></td>
								<td ng-bind="row.lemma" editable="outputCoNLL.editable"></td>
								<td ng-bind="row.tag0" editable="outputCoNLL.editable"></td>
								<td ng-bind="row.tag" editable="outputCoNLL.editable"></td>
								<td ng-bind="row.features" editable="outputCoNLL.editable"></td>
								<td ng-bind="row.parentIndex" editable="outputCoNLL.editable" class="integer"></td>
							</tr>
						</table>
					</div>
					<div style="display: inline-block; position: relative; width: 38%; margin: 0px;">
						<textarea focus="state.copyFocus" ng-show="state.copyVisible"
							style="position: relative; width: 98%; height: 200px; resize: vertical;"
							select-on-focus ng-model="outputCoNLL.raw" ng-blur="hideCopy()" readonly></textarea>
					</div>
				</div>
			</pane>
			<!-- <pane heading="Raw Output CoNLL" active="selectedTab.rawOutput"> -->
			<!-- 	<button class="btn btn&#45;primary" ng&#45;click="acceptOutputRaw()">Accept</button> -->
			<!-- 	<br/> -->
			<!-- 	<br/> -->
			<!-- 	<textarea cols="60" rows="10" style="width: 98%; height: 200px;"></textarea> -->
			<!-- </pane> -->
			<pane heading="Tree" active="selectedTab.tree">
				<div id="space"></div>
			</pane>
		</tabs>
		<br/>

	</div>

			</pane>
		</tabs>
	</div>

</body>
</html>
